<head>
	<meta charset="utf-8"><title>Quiz</title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
    <h1>El autor de esta aplicación es</h1>
    <p>Miguel Domínguez</p>
    <br>
    <img src="/photo.jpg" alt="Migue" width="90" height="90"/>
</body>
